#main-container1{
    border-collapse: collapse;
    overflow: scroll;
    position: relative;
    top: 0px;
    left: 60px;
    max-width: 100%;
    height: 80vmin;
    background: rgba(218, 216, 216, 0.54);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 

    margin-top: 20px;
    margin-left: -50px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.main-container::-webkit-scrollbar {
    width: 7px;     /* Tamaño del scroll en vertical */
    /*display: none;   Ocultar scroll */
}
/* commen */
table{
    background-color: rgb(204, 203, 203);
    text-align: center;
    width: 100%;
    position: relative;
    top: 10px;
    margin: auto;
    text-align : center;
}

th, td{
    padding: 20px;
    
}

thead{
    background-color:white;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 10px;
    z-index: 500;    
}

tr {
    position: sticky;
    top: 10px;
    border-radius: 20px;
}

tr:nth-child(even){
    background-color: rgb(221, 221, 221);
}

tr:hover td{
    background-color: #909091;
    color: white;
}

h1{
    text-align: center;
    
}

#add {
    display: inline-block;
    position: absolute;
    left: 95vmax;
    top: 23.5vmin;
    
}

#export {
    display: inline-block;
    position: absolute;
    left: 79.5vmax;
    margin-left: 10px;
}

#filter {
    display: inline-block;
    position: absolute;
    left: 87vmax;
    margin-left: 10px;
}

#tablaa {
    max-width: 98%;
    position: relative;
    font-size: 3vmin;
    display: block;
}

.btnBuscar{
    height: 34px;
    width: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.barraBusqueda{
float: left;
padding: 20px;
}