.containerIn{
	width: 50%;
	max-width: 1000px;
}

div.contenedorIn{

	justify-content: space-between;
	top: 20px;
	width: 50%;
	height: 330px;
	float:left;
	-webkit-transition: height .4s;
	box-sizing: border-box;
}

div#uno{
	background-color: #409DC4;
}

div#dos{
	background-color: #5AB2DA;
}

img.icon{
	display: inline;
	width: 45%;
	height: auto;
	margin: 0px 30px;
	background-color: rgba(255,255,255,.15);
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

a:link, a:visited, a:active {
    text-decoration:none;
	color: rgb(0, 0, 0);
}

p.texto{
	font-size: 1.5em;
	color:rgb(255, 255, 255);
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:350px;
}

div.contenedor:hover p.texto{
	padding-top: 40px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

@media screen and (max-width: 900px){
	div.contenedor{
		width: 100%;
	}
}
