.Nuevo {
    text-align: center;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .Nuevo-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Nuevo-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Nuevo-link {
    color: #fb6161;
  }
  
  @keyframes Nuevo-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .group1-11{
    position: relative;
    top: 00px;
    left: 50px;
    float: left;
}

.group2-11{
    position: relative;
    top: 00px;
    left: 130px;
    float: left;
}